* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: gainsboro;
}

.top-left a, .telephone a {
    text-decoration: none;
    color: #333;
    font-family: 'Prompt';
    font-weight: bold;
    font-size: 14px;
}

.box2 {
    display: flex;
    padding: 10px;
    background-color: #fff;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.head_info{
    display: flex;
    padding: 20px;
    /* border: 1px solid red; */
}

.rent_method, .contact{
    position: relative;
    top: 6px;
}

.rent_method a, .contact a{
    text-decoration: none;
    color: rgb(75, 74, 74);
    font-family: 'Prompt';
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid red; */
}

.search{
    overflow: hidden;
    position: relative;
    display: inline-block;
    /* border: 1px solid red; */
}

.search-icon{
    position: absolute;
    left: 197px;
    top: 49%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
}

.search input[type=text]{
    font-family: 'Prompt';
    font-size: 17px;
    margin: 0px;
    padding: 4px;
    border-radius: 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.popupCart{
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    background-color: #fff;
    width: 800px;
    height: 570px;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 20px;
    margin-left: -850px;
    position: absolute;
    z-index: 9999;
    text-align: left;
    font-family: 'Prompt';
    color: #333;
    display: none;
}

.cartHeader{
    font-size: 34px;
    font-weight: bold;
}

.cartItems{
    border-bottom: 1px solid #333;
}

.cartItems .info{
    display: flex;
    padding: 0.3rem;
    justify-content: space-around;
    border-bottom: 1px solid #333;
}

.cartItems .info p{
    font-size: 24px;
    font-weight: bold;
}

.cartItems .accessory{
    height: 200px;
    padding: 0.3rem;
    /* border: 1px solid cyan; */
}

.accessory .acc{
    display: flex;
    font-size: 18px;
}

.accessory .acc p[class="name"]{
    width: 200px;
    /* border: 1px solid red; */
}

.accessory .acc p[class="id"]{
    width: 100px;
    margin-left: 115px;
    text-align: center;
    /* border: 1px solid greenyellow; */
}

.accessory .acc p[class="price"]{
    width: 100px;
    text-align: center;
    margin-left: 165px;
    /* border: 1px solid cyan; */
}

.popupCart .total{
    display: flex;
    font-family: 'Prompt';
    justify-content: space-between;
    margin-top: 10px;
}

.total .calendar{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    background-color: gainsboro;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.total .calendar p{
    text-align: center;
}

.total .calendar input[type="date"]{
    font-family: 'Prompt';
    font-size: 16px;
    border-radius: 10px;
    width: 150px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.total-price{
    font-family: 'Prompt';
    font-size: 22px;
    font-weight: bold;
    margin-top: -5px;
}

.total-price p {
    margin-top: 20px;
}

.checkout{
    text-align: center;
    position: relative;
    padding: 1rem;
    top: 10px;
}

.checkout button{
    padding: 10px;
    width: 190px;
    background-color: rgb(5, 155, 255);
    border-radius: 30px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    font-family: 'Prompt';
    font-size: 18px;
    color: #fff;
}

.checkout button:hover{
    background-color: rgb(25, 116, 177);
}

.box3{
    display: flex;
    padding: 8px;
    justify-content: space-around;
    border: 1px solid gainsboro;
}

.box3 .camera a, .box3 .len a, .box3 .tripod a, .box3 .battery a{
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-family: 'Prompt';
    font-size: 17px;
    font-weight: bold;
}

.box4{
    display: flex;
    background-color: gainsboro;
    padding: 5px;
    justify-content: space-around;
}

.box4 .content h1{
    text-decoration: none;
    font-family: 'Prompt';
    font-size: 16px;
    font-weight: bold;
    color: brown;
    /* border: 1px solid red; */
}

.box5 {
    display: flex;
    padding: 0.6rem ;
    justify-content: center;
    border-top: 1px solid gainsboro;
}

.box5 .info h1{
    font-family: 'Prompt';
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-top: 8px;
    /* border: 1px solid red; */
}

.box5 .info p{
    font-family: 'Prompt';
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 3px;
    /* border: 1px solid red; */
}

.line1 {
    border: none;
    width: 8%;
    height: 3px;
    position: relative;
    left: 8px;
    /* align-items: center; */
    background-color: rgb(36, 159, 165);
    margin: 0 auto;
    margin-top: 11px;
}

.info2 {
    font-family: 'Prompt';
    text-align: center;
    position: relative;
    left: 8px;
    font-size: 18px;
    color: #333;
    margin: 0 auto;
    margin-top: 12px;
    /* margin-top: 8px; */
}

.line2 {
    border: none;
    width: 50%;
    height: 1px;
    position: relative;
    left: 8px;
    /* align-items: center; */
    background-color: rgb(36, 159, 165);
    margin: 0 auto;
    margin-top: 18px;
}

.container {
    display: flex;
    text-align: center;
}

.column {
    flex: 1;
    padding: 0 10px;
}

.card-container {
    margin-bottom: 20px;
}

.card-container h1,
.card-container h2,
.card-container p {
    font-family: 'Prompt';
    margin: 0;
}

.box9{
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    border-top: 1px solid gainsboro;
}

.box9 h1{
    font-family: 'Prompt';
    font-size: 30px;
    color: #333;
}

.box9 h2{
    font-family: 'Prompt';
    font-size: 18px;
    color: rgb(87, 86, 86);
}

.box10{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
}

.box10 .method{
    text-align: center;
    /* border: 1px solid red; */
}

.box10 .method h1{
    padding-top: 5px;
    padding-right: 3px;
    margin-left: 250px;
    font-family: 'Prompt';
    font-size: 40px;
    color: #fff;
    background-color: rgb(4, 55, 114);
    height: 70px;
    width: 70px;
    border-radius: 100%;
    box-sizing: border-box;
}

.box10 .method h3{
    font-family: 'Prompt';
    font-size: 35px;
    color: #333;
}

.box10 .method p{
    font-family: 'Prompt';
    font-size: 20px;
    color: #333;
    margin-top: -5px;
}

.box11{
    padding: 40px;
    text-align: center;
    background: url("https://www.lightandlensrental.com/images/contact-banner.jpg?b6892030766b977ad9565b2ce2463c85");
    background-size: 100% 200%;
    background-position: 0%;
    justify-content: center;
}

.box11 h1{
    font-family: 'Prompt';
    color: #fff;
    margin-top: 0px;
}

.box11 button{
    padding: 10px;
    background-color: rgb(5, 155, 255);
    border-radius: 20px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.box11 button:hover {
    background-color: rgb(25, 116, 177);
}

.box11 button a{
    text-decoration: none;
    font-family: 'Prompt';
    font-size: 20px;
    color: #fff;
}

.box11 .contact a{
    font-family: 'Prompt';
    color: #fff;
}

.box12{
    background-color: rgb(189, 175, 175);
}

.box12 .copyright {
    text-align: center;
    font-family: 'Prompt';
    font-size: 12px;
}

.box12 .copyright-symbol {
    font-size: 1.1em;
    vertical-align: middle;
}